<div class="max-h-[1080px] min-h-[600px] flex items-center w-full">
    <div class="from-white to-red-100 w-full">
        <div class="flex min-h-[100vh] md:flex-row shadow-lg overflow-hidden">
            <div class="bg-color p-4 w-full flex justify-center items-center">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
                    class="bg-color z-[2] rounded-[10px] md:w-[40%]  max-w-auto backdrop-blur-[4px] md:py-[25px] md:px-[30px] p-[30px]">
                    <div class="w-full flex justify-center">
                        <h1 (click)="goToHome()"
                            class="md:text-[3rem] font-bold tracking-widest text-[var(--dark-teal)] cursor-pointer akboss-text">
                            AKBOSS</h1>
                    </div>

                    <div class="flex items-center justify-between mb-6">
                        <h2 class="md:text-[30px] text-3xl font-bold">Register</h2>
                        <img (click)="goBack()" src="assets/images/close.png" alt="Logo"
                            class="w-[26px] h-[26px] cursor-pointer">
                    </div>

                    <label class="block text-gray-700">Enter your name</label>
                    <input type="text" formControlName="username" placeholder="Please enter your name"
                        maxlength="20"  (paste)="blockPaste($event)"
                        class="w-full h-[45px] border  rounded-lg p-2 mt-2 focus:outline-none" />

                        <label class="block text-gray-700">Enter your Email</label>
                    <input type="email" formControlName="email" placeholder="Please enter your email"
                        
                        class="w-full h-[45px] border  rounded-lg p-2 mt-2 focus:outline-none" />

                    <label class="block text-gray-700 mt-4">Enter your phone number</label>
                    <div class="flex gap-x-2 mt-[14px]">
                        <div class="border border-black rounded-lg px-2 min-w-[80px] flex items-center">
                            <select formControlName="countryCode"
                                class="bg-transparent focus:outline-none h-[45px] w-full font-bold">
                                <option value="+91">+91</option>
                                <option value="+971">+971</option>
                                <option value="+92">+92</option>
                            </select>
                        </div>
                        <div class="border rounded-lg w-full">
                            <input type="tel" maxlength="10" (keypress)="allowOnlyNumbers($event)"
                                (paste)="blockPaste($event)" pattern="[0-9]{10}" formControlName="phone"
                                placeholder="Enter your number..."
                                class="h-[45px] px-2 rounded-lg focus:outline-none w-full" />
                        </div>
                    </div>

                    <div class="relative mt-4">
                        <label class="block text-black font-[500]">Password</label>
                        <input [type]="password ? 'text' : 'password'" id="password-input" formControlName="pwd"
                            placeholder="Enter your password"
                            class="w-full border rounded-lg p-2 md:h-[54px] h-[45px] mt-[14px] pr-10 focus:outline-none" />
                        <button (click)="toggleVisibility()" type="button"
                            class="absolute top-[44%] right-[18px] translate-y-[44%] text-[var(--primary-text-color)]">
                            <i id="eye-icon" class="fa fa-eye-slash"></i>
                        </button>
                    </div>

                    <label class="block text-gray-700 mt-4">Invite Code</label>
                    <input type="tel" maxlength="6" (paste)="blockPaste($event)" formControlName="invitecode" placeholder="Please enter the invitation code"
                        class="w-full h-[45px] border rounded-lg p-2 mt-2 focus:outline-none" />

                    <div class="flex items-center mt-4">
                        <input type="checkbox" formControlName="agree" id="agree" class="mr-2 cursor-pointer" />
                        <label for="agree" class="text-gray-700">I have read and agree</label>
                    </div>

                    <button type="submit"
                        class="w-full h-[45px] bg-red-500 cursor-pointer text-white py-2 mt-4 rounded-full">
                        Register now
                    </button>

                    <p class="text-center text-sm border-[1px] border-[var(--black)] cursor-pointer rounded-full py-2 mt-4">
                        I have an account
                        <a [routerLink]="['/auth/login']" class="text-white font-bold">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


