.header {
    height: 52px;
    padding: 0 14px 0 38px;
    border-radius: 0 0 0 90px;
    background: var(--dark-teal);
}

.profile-header {
    display: inline-flex;
    padding: 2px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.70);
    background: var(--white);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.25);
}

.profile-header img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.logo{
    color: var(--dark-teal);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.70);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
}


