   <nav class="w-full fixed top-0 z-50 bg-gradient-to-r from-black via-teal-900 to-teal-700 px-12 py-3">
        <ul class="flex justify-end gap-6 md:text-[16px] text-[12px] text-white font-semibold">
            <li>
                <a href="/user/home" routerLinkActive="active-link">
                    HOME
                </a>
            </li>

            <li>
                <a href="/user/blogs" routerLinkActive="active-link">
                    BLOG
                </a>
            </li>

            <li>
                <a href="/user/about-us" routerLinkActive="active-link">
                    ABOUT US
                </a>
            </li>

            <li>
                <a href="/user/contact" routerLinkActive="active-link">
                    CONTACT
                </a>
            </li>
        </ul>
    </nav>