<div class="bg-gradient-to-b from-[var(--profile-blue)] to-[var(--profile-teal)] rounded-2xl p-[25px] w-full max-w-md">
  <div class="w-20 h-1 bg-white flex justify-center text-center rounded-full mt-2 mb-4 drowline"></div>
  <h2 class="text-white text-lg font-semibold mb-6 text-center">Update Profile</h2>

  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="space-y-5">
    <input type="text" formControlName="username" placeholder="Enter Username"
      class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 placeholder-gray-200 focus:outline-none" />

    <input type="text" formControlName="phone" placeholder="Enter Number"
      class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 placeholder-gray-200 focus:outline-none" />

    <button type="submit"
      class="w-full btn-bg-color text-white font-semibold rounded-full py-3 shadow-md">
      Submit
    </button>

    <button type="button" (click)="closeModal()"
      class="w-full btn-bg-color text-white font-semibold rounded-full py-3 shadow-md">
      Cancel
    </button>
  </form>
</div>



