<footer class="main-footer">
        <div class="footer-top">
            POWERD BY {{sitename}}
        </div>
        <div class="footer-bottom">
            <div class="copyright">{{copyright}}</div>
            <div class="footer-links">
                <a href="user/about-us">About us</a>
                <a href="user/blogs">Blogs</a>
                <a href="user/contact">Contact us</a>
                <a href="user/blog-detalis">Privacy & policy</a>
                <a href="user/blog-detalis">Term And Conditions</a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>