<section class="header-section">
    <nav class="navbar main-navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid nav-container">
            <a class="navbar-brand logo-brand" href="/">
                <img alt="QuintusPay logo" loading="lazy" width="175" height="80"
                    src="/assets/images/logo99.png">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/merchant-payment-solutions">Merchant Payment Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/enterprise-payment-solutions">Enterprise Payment Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/upiflow">UPIFlow</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactus">Contact</a></li>
                </ul>
                <div class="others-options">
                    <a target="_blank" rel="noopener" class="default-btn" href="https://bapa-api.quintustech.in/#/auth/login">
                        Get Started <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</section>